thead {
  text-align: left;
  background-color: lightgray;
}

tbody {
  // border-radius: 4px;
  // border: 2px solid black;
  // width: 100%;
  text-align: left;

  tr {
    background-color: white;

    &:nth-child(2n) {
      background-color: lightblue;
    }
  }
}

table {
  width: 100%;
  border-spacing: 0;
}


// .headerCell {
//   text-align: center;
// }

.top-table-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bottom-table-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.table-pagination-container {
  display: flex;
  width: auto;
}
